@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'JTMarnie';
    src: url('/fonts/JTMarnie-Regular.eot');
    src: url('/fonts/JTMarnie-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/JTMarnie-Regular.svg#JTMarnie-Regular') format('svg'),
         url('/fonts/JTMarnie-Regular.ttf') format('truetype'),
         url('/fonts/JTMarnie-Regular.woff') format('woff'),
         url('/fonts/JTMarnie-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }  

  @font-face {
    font-family: 'JTMarnie';
    src: url('/fonts/JTMarnie-Bold.eot');
    src: url('/fonts/JTMarnie-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/JTMarnie-Bold.svg#JTMarnie-Bold') format('svg'),
         url('/fonts/JTMarnie-Bold.ttf') format('truetype'),
         url('/fonts/JTMarnie-Bold.woff') format('woff'),
         url('/fonts/JTMarnie-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

  .input-simple-wrapper {
    @apply relative;
    @apply text-sm;
    @apply transition-colors;
    @apply duration-150;
    @apply my-4;
  }
  .input-simple {
    @apply bg-gray-200;
    @apply w-full;
    @apply h-12;
    @apply rounded-lg;
    @apply px-4;
    @apply text-xl;
  }
  .yellow-button {
    @apply bg-thyellow;
    @apply rounded-lg;
    @apply py-2;
    @apply px-4;
  }
  .loading-spinner{
    @apply border-4;
    @apply border-solid;
    @apply rounded-full;
    @apply animate-spin;
    border-color: white #888 #888 #888;
  }
  .border-bot-separator {
    border-bottom: 1px solid #ccc;
  }
}